<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>First Upskill Web Page</title>
		<link rel="stylesheet" type="text/css" href="#.css" media="screen"></link>
		<script type="text/javascript" src="#.js"></script>
		<style type="text/css">
			.jumbotron, footer{
				text-align: center;
				margin: 0;
			}
			span{
				color: red;
			}
		</style>

	</head>
	<body>
		<!--This is a comment!!!-->
		<header class="jumbotron">
			<div id="top">
				<h1>First Page with Upskill</h1>
			</div>
			<div id="bottom">
				<h2>I already know about headings.</h2>
				<h4>I even already have <span>"header"</span> tags!!!</h4>
			</div>
		</header>
		<section id="paragraphs">
			<p>This is a paragraph. &nbsp; <a href="http://www.w3schools.com/html/html_entities.asp">HTML Entities</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla turpis ex, blandit quis est sed, aliquam fringilla lacus. Pellentesque nec ultricies ligula, at rutrum velit. Integer blandit magna aliquet velit hendrerit, et volutpat orci tristique. Maecenas ipsum urna, vehicula vitae finibus a, auctor eget arcu. Nullam tristique mi mauris, sit amet blandit magna ultricies ac. Quisque gravida justo a arcu semper, eget efficitur enim porta. Integer tempus, diam eu auctor faucibus, orci sapien vestibulum massa, ac consectetur erat orci quis mi. </p>
			<br/>
			<p>Self-closing tags on the "br" tag are optional, but best practice.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</section>
		<section id="lists">
			<h3>Topics that I want to learn more about...</h3>
			<ul>
				<li>ASP .NET</li>
				<li>JSON/AJAX</li>
				<li>SASS</li>
				<li>SVG</li>
			</ul>
			<h3>My favorite places to learn...</h3>
			<ol>
				<li>Microsoft Virtual Academy</li>
				<li>Code School</li>
					<ul>
						<li>JavaScript Road Trip</li>
						<li>Journey into Mobile</li>
						<li>CSS Cross Country</li>
					</ul>
				<li>Udacity</li>
				<li><a href="http://upskillcourses.com/courses/complete-web-developer-bootcamp/lectures/1628863" target="_new">Upskill</a></li>
			</ol>
		</section>
		<section id="tables">
			<img src="https://freethumbs.dreamstime.com/866/big/free_8668192.jpg" alt="Paper and garlands from Roses"/>
			<table>
				<thead>
				<tr>
					<th>Name</th>
					<th>Grade</th>
					<th>Teacher</th>
					<th>Birthday</th>
				</tr>
				</thead>
				<tr>
					<td>George</td>
					<td>3rd Grade</td>
					<td>Ms. Coleman</td>
					<td>May 8th</td>
				</tr>
				<tr>
					<td>Jimmy</td>
					<td>1st Grade</td>
					<td>Ms. Wilson</td>
					<td>October 10th</td>
				</tr>
				<tr>
					<td>Mary</td>
					<td>Pre-K 4</td>
					<td>Ms. Aikins</td>
					<td>April 16th</td>
				</tr>
			</table>
		</section>
		<section id="forms">
			<h3>Forms</h3>
			<a href="newFolder/page2.html" target="_new">Link</a>
			<form action="http://website.com/processing" method="post">
				<div>
					<label for="firstName">First Name</label>
					<input type="text" name="firstName">
				</div>
				<br>
				<div>
					<label for="password">Password</label>
					<input type="password" name="">
				</div>
				<br/>
				<input type="submit" name="">
				<button>Log In</button>
				<br>
				<input type="checkbox" name="">Checkbox
				<input type="checkbox" name="">
				<input type="radio" name="">
				<select>
					<option>Downton Abbey</option>
					<option>Mr. Selfridge</option>
					<option>Poldark</option>
					<option>Home Fires</option>
				</select>
			</form>
		</section>
		<footer>
			<p>Written by Andrielle Hillis</p>
		</footer>
	</body>
</html>